/* widget_tag_cloud */
.widget_tag_cloud {
  a {
   background-color: #f4f4f5;
    border-radius: 50px;
    padding: 6px 18px 4px 22px;
    margin: 0 0 13px 0;
    text-align: center;
    display: inline-block;
    @include small-text();
    font-size: 12px !important;
   
    &:hover {
      background-color: $colorMain;
      border-color: $colorMain;
      color: $lightColor;
    }
  }
}









