//color schemes
//1
$styleNumber: '';
$colorMain: #ff497c;
$colorMain2: #a0ce4e;
$colorMain3: #00bea3;
$colorMain4: #f1894c;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;