//color schemes
//2
$styleNumber: '2';
$colorMain: #a0ce4e;
$colorMain2: #ff497c;
$colorMain3: #f1894c;
$colorMain4: #00bea3;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;