//color schemes
//3
$styleNumber: '3';
$colorMain: #f1894c;
$colorMain2: #00bea3;
$colorMain3:#a0ce4e;
$colorMain4: #ff497c;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;